@import url('https://fonts.googleapis.com/css2?family=Allura&family=Josefin+Sans:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;   
}

.hero{
    position: relative;
    width: 100%;
    height: 10vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), #3551b5), url(images/contact_background.jpg);
    background-size:cover;
    background-position: center; 
}

nav{
    display: flex;
    width: 86%;
    margin: auto;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
    align-items: center;
    justify-content: space-between;
}

span{
    color: #f9004d;
}

nav ul{
    margin-top: -4%;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    list-style: none;
    padding: 10px 25px;
    margin: 10px 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    align-items: center;
}

nav ul li a:hover{
    color: #f9004d;
    transition: .4s;
}

.btn{
    background-color:#f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.btn:hover{
    transform: scale(1.2);
}

/*About session*/

.hero-about{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(images/about-background.jpg);
    background-size: cover;
    background-position: center;   
}

.about{    
    width: 100%;
    padding: 78px 0px;
    background-color: #191919;
}

.about img{
    height: auto;
    width: 650px;

}

.about-text{
    width: 550px;    
}

.main{
    width: 1500px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2{
    color: white;
    font-size: 70px;
    text-transform: capitalize;
    margin-bottom: 20px;

}

.about-text h5{
    color: white;
    font-size: 28px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;    
}

.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

span1{
    color: white;
}

button{
    background:#f9004d;
    color: white;
    text-decoration: none;
    border: 2 solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

button:hover{
    background: transparent;
    border: 2 solid #f9004d;
    cursor: pointer;

}
/*contact session start*/

form{
    width: 90%;
    max-width: 600px;
}

.hero-contact{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), #3551b5), url(images/contact_background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-group{
    margin-bottom: 30px;   
    position: relative; 
}

input, textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    font-size: 15px;    
}

label{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #fff;
    cursor: text;
    transition: 0.2s;
}

input:focus ~label,
input:valid ~label,
textarea:focus~label,
textarea:valid ~label{
    top: -35px;
    font-size: 14px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row .input-group{
    flex-basis: 48%;    
}